<div class="container" bg-gradient="fluff">
    <header>
        <h1 bg-gradient="fluff">Color of the Day!</h1>
    </header>
    <div class="cods">
        <div ng-repeat="cod in cods" class="cod card" style="background-color:{{ cod.colorCode }}" ng-class="setTextColorClass(cod.colorCode)">
            <div class="cod-text card-content">
                <span class="cod-color-name card-title">{{ cod.colorName }}</span>
                <p class="cod-name">{{ cod.userName}}</p>
                <p class="cod-date">{{ cod.updatedAt | date: 'fullDate'}}</p>
                <p ng-click="delete(cod._id)" class="del-button">delete</p>
            </div>
        </div>
    </div> <!-- end cods -->
    <button ng-click='toggleModal()' id="add-color-button">Add Your Color of the Day</button>
    <modal-dialog show='modalShown' width='350px' height='500px'>
        <p>Select your color for today:</p>
        <div class="color-list">
            <div ng-repeat="row in colors">
                <span ng-repeat="color in row" style="background-color:{{ color[1] }};" class="color-chip" ng-click="setSelected(color[1])"></span>
            </div>
        </div>
        <div id="selected-color-div">
            <div style="background-color:{{selected}};" id="selected-color"></div>
            <div id="selected-color-name"> {{ newCod.colorName}}</div>
        </div>
        <form ng-submit="create()" id="color-form">
            <label for="colorName">Name your color:</label>
            <input type="text" name="colorName" ng-model="newCod.colorName">
            <label for="userName">Sign your entry (if you wish):</label>
            <input type="text" name="userName" ng-model="newCod.userName">
            <input type="text" name="donotfill" id="donotfill">
            <input type="submit">
        </form>
    </modal-dialog>
</div> <!-- end container -->
